*{
	font-family: 'Satisfy', cursive;

}
h2{font-size: 200%;
	animation-duration: 10s;
  animation-name: slidein; 
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#card-box{
margin-top: 30px;
 display:inline-flex;
 justify-content: center;
}


