*{
	font-family: 'Satisfy', cursive;
}

.alert{
  font-size: 25px;
}

h2{font-size: 200%;
	text-shadow: 2px 2px yellow;
	animation-duration: 10s;
  animation-name: slidein; 
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#card-box{
margin-top: 1px;
 display:inline-flex;
 justify-content: center;
}

@media(min-width: 480px){
	#cardbox{
		   color: green;
	}
}

