
body{
	background-color: black;
}

h2{
	color: blue;
	font-family: 'Modern Antiqua', cursive;
	animation-duration: 6s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

.Picture
{position: relative;
}

#Content
{position: absolute;
	bottom: 10px;
	width: 100vw;
}

.container{display: inline-flex; 
}

h4{
	font-family:'Modern Antiqua', cursive;
}

.list-group-item{padding: 3px 10px;
}

.page-footer{background-color: lightgrey;
}

